.navstyle {
    background-color:rgb(255, 73, 14);
    color: rgb(17, 17, 45);
}

.navtext {
    color: white !important;
}

h1 {
    color: rgb(255, 73, 14);
}

.center{
    text-align: center;
}

.cardStyle {
    background-color:rgb(255, 73, 14);
    color: white;
}